@font-face {
  font-family: "Adobe Jenson Pro Italic Caption";
  src: url("../fonts/AJensonPro-ItCapt.woff");
}

@font-face {
  font-family: "Adobe Jenson Pro Light Subhead";
  src: url("../fonts/AJensonPro-LtSubh.woff");
}

@font-face {
  font-family: "Adobe Jenson Pro Semibold Caption";
  src: url("../fonts/AJensonPro-SemiboldCapt.woff");
}

@font-face {
  font-family: "Adobe Jenson Pro Semibold Display";
  src: url("../fonts/AJensonPro-SemiboldDisp.woff");
}

@font-face {
  font-family: "Steelplate Textura";
  src: url("../fonts/SteelplateTextura.woff");
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  margin-top: 0px;
  background-color: #cc7ab9;
  height: 173px;
}

h1 {
  font-family: "Steelplate Textura";
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 43px;
  margin-top: 0px;
}

h1:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ed0cc0,
    0 0 82px #ed0cc0, 0 0 92px #ed0cc0, 0 0 102px #ed0cc0, 0 0 151px #ed0cc0;
}

header a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  font-family: "Adobe Jenson Pro Light Subhead";
}

.header-links {
  margin-left: 43px;
}

header hr {
  margin: 0px 119px 26px 114px;
  border-color: black;
  border-width: 0.5px;
}

main h1 {
  color: #ffff;
  font-size: 16px;
  text-align: left;
  margin-left: 27px;
  padding-top: 15px;
  margin-bottom: 10px;
}

main hr {
  margin: 0px 206px 0px 24px;
  border-color: #ffff;
}

main p {
  color: #ffff;
  font-family: "Adobe Jenson Pro Italic Caption";
  text-align: justify;
  padding-left: 53px;
  padding-right: 46px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.quote-container {
  border: solid #cc7ab9 2px;
  background-color: #000;
  border-radius: 30px;
  padding: 0px;
  margin: 20px 25px 52px;
}

.quote-container h3 {
  color: #cc7ab9;
  font-family: "Adobe Jenson Pro Semibold Caption";
  font-size: 18px;
  padding-left: 9px;
  margin-bottom: 0px;
}

.quote-container p {
  color: #ffff;
  font-size: 9px;
  text-align: right;
  padding-right: 23px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: none;
}

article h1 {
  font-size: 16px;
  text-align: right;
  margin-right: 52px;
  margin-bottom: 5px;
}

article hr {
  margin-left: 176px;
  margin-right: 52px;
  margin-top: 0px;
}

article img {
  max-width: 287px;
  margin: 32px 0 47px 60px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.content-title h1 {
  text-align: left;
  margin-left: 43px;
  padding-bottom: 0px;
}

.content-title hr {
  margin-right: 193px;
  margin-left: 43px;
  margin-top: 0px;
  padding-bottom: 0px;
}

div {
  background-color: #cc7ab9;
}

form {
  background-color: #0000;
  text-align: center;
}

input {
  width: 269px;
  height: 169px;
  margin-bottom: 77px;
  background-color: #000;
  color: #fff;
  font-family: "Adobe Jenson Pro Light Subhead";
  font-size: 20px;
  padding: 0px;
  user-select: text;
}

input :hover {
  cursor: text;
}

footer h2 {
  color: #ffff;
  font-size: 16px;
  text-align: left;
  font-family: "Steelplate Textura";
  margin: 45px 0px 35px 43px;
}

footer a {
  font-family: "Adobe Jenson Pro Light Subhead";
  color: #ffff;
  font-size: 11.5px;
  text-decoration: none;
  padding-right: 35px;
}

.contact-infos {
  background: #000;
  margin-left: 50px;
}

footer hr {
  margin: 65px 113px 30px;
  border-color: #ffff;
}

footer h1 {
  font-family: "Steelplate Textura";
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 19px;
  margin-top: 0px;
  color: #cc7ab9;
  padding: 0px;
}

footer h1:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ed0cc0,
    0 0 82px #ed0cc0, 0 0 92px #ed0cc0, 0 0 102px #ed0cc0, 0 0 151px #ed0cc0;
}

.copyright-fontname {
  margin: 19px 0 38px;
  background-color: #000;
}

footer p {
  color: white;
  font-family: "Adobe Jenson Pro Light Subhead";
  font-size: 15px;
  text-align: center;
}

/* Javascript */

ul {
  margin-bottom: 0;
}

.accordion {
  background: #000;
  padding: 0 30px 80px;
}

.question {
  border-bottom: 1px solid #eee;
  padding: 20px 20px 10px;
  cursor: pointer;
  position: relative;
  margin-right: 170px;
}

div .question {
  background-color: #000;
  padding-left: 0px;
}

.question h2 {
  font-size: 20px;
  margin: 0;
  color: #fff;
  font-family: "Steelplate Textura";
}

.question .glyphicon {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer {
  max-height: 0;
  overflow: scroll;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  background-color: #000;
}

.answer img {
  padding: 15px 0 0;
  margin-left: 0px;
}

.accordion li.open .question .glyphicon {
  transform: rotate(180deg);
}

.accordion li.open .answer {
  max-height: 150px;
}

.list-unstyled {
  margin-top: 0px;
  padding-left: 20px;
}
