html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  margin-top: 0px;
  background-color: #cc7ab9;
  height: 173px;
}

h1 {
  font-family: 'Steelplate Textura';
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 43px;
  margin-top: 0px;
}

hr {
  margin: 0px 120px 26px;
  border-color: black;
}

 a {
  font-family: 'Adobe Jenson Pro';
  font-weight: lighter;
  font-size: 14px;
  padding: 0px 35px;
 }

 main h1 {
  color: #ffff;
  font-size: 16px;
  text-align: left;
  margin-left: 27px;
  padding-top: 15px;
}

 main hr {
  margin-left: 24px;
  margin-right: 206px;
  border-color: #ffff;
}

main p {
  color: #ffff;
  font-family:'Adobe Jenson Pro';
  text-align: justify;
  padding-left: 53px;
  padding-right: 51px;
  font-size: 14px;
}

.quote-container {
  border: solid #cc7ab9 2px;
  border-radius: 30px;
  padding: 0px;
  margin: 20px 30px 52px;
}

.quote-container p{
  color: #cc7ab9;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
}

.font-name p {
  color: #ffff;
  font-size: 9px;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
}

article h1 {
  font-size: 16px;
  text-align: right;
  margin-right: 52px;
  margin-bottom: 5px
}

article hr {
  margin-left: 176px;
  margin-right: 52px;
  margin-top: 0px;
}

article img {
  max-width: 287px;
  margin-left: 43px;
}





